**/__pycache__
.idea/
**/.DS_STORE
**/utils/saved_models
**/figures
**/results
**/goal_csv
**/*.egg-info
**/saved_models/*
**/.vscode
**/wandb
**/runs
**/requirements.txt
**/*.log
**/*.jpg
**/fetch_test.py


